 <div id="wrapper">
<div id="leftcol">
<div class="logged">
<?php echo 'Bejelentkezve: '.$this->session->userdata("username"); ?>
</div>
<div class="button">
<a  href="<?php echo base_url() ?>/index.php/login">Főoldal</a>
</div>
<div class="button">
<a  href="<?php echo base_url() ?>index.php/kosar">Kosár</a>
</div>
<div class="button">
<a  href="<?php echo base_url() ?>index.php/addnew">Termék hozzáadása</a>
</div>
<div class="button">
<a  href="<?php echo base_url() ?>index.php/">Terméklap</a>
</div>
</div>