table
{
width:800px;
}
td
{
background-color:#A8A8A8;
}
body
{
background-color:#000;
}
#gyujto
{
margin:auto;
width:800px;
}
input 
{
width:100px;
}
#menu
{
background-color:68F2B9;
}
#menu a
{
text-decoration:none;
color:#FFF;
margin-left:100px;
}
#keres input
{
width:500px;
}
#keres td
{
width:300px;
}
#reg input
{
width:500px;
}
#reg td
{
width:300px;
}
#belepes input
{
width:500px;
}
#belepes td
{
width:300px;
}