html, body {
	/*margin: 0px;
	padding: 0px;*/
	background-color:grey;
}



#banner {
background:url('images/banner.jpg');
width:1000px;
height:200px;
border:1px black;
margin:0px auto 0px auto;
border-top-left-radius:20px;
border-top-right-radius:20px;
}

#wrapper {
/*border:1px black;*/
margin:0px auto 0px auto;
width:1000px;
}

#leftcol {
	position: relative;
	float:left;
	width:260px;
	min-height:400px;
	background-color:#007CBA;
	text-align:center;
}

#content{
position: relative;
float:left;
width:740px;
background-color:#888888;
min-height:400px;
}

#footer{
width:980px;
background-color:solid black;
min-height:50px;
margin: 0px auto 0px auto;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
padding:10px;
}

.termek {
background-color:#33e2e5;
width:200px;
height:240px;
float:left;
margin:20px 20px 20px 20px;
text-align:center;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
.termek > img {
width:100px;
height:100px;

}

#lapozas {
clear:both;
margin: auto;
background-color:#7CE3FF;
text-align:center;
}

.button{
color:gray;
background-color:white;
width:200px;
height:30px;
margin:10px auto 10px auto;

border-top-right-radius:5px;
border-bottom-left-radius:5px;

text-decoration:none;
line-height:30px;
font-weight:bold;
}

.logged{
color:gray;
background-color:orange;
width:240px;
height:30px;
margin:10px auto 25px auto;

border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;

text-decoration:none;
line-height:30px;
font-weight:bold;
}

.yellowdiv {

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
background-color:#7CE3FF;
padding:10px 10px 10px 10px;
margin: 0px 10px 0px 10px
}

.button > a {
text-decoration:none;
color:black;
}

.linear{
float:left;
}

.lezaras { 
clear:both; }